*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
}
#barraLateral{
    position: fixed;
    width: 316px;
    height: 100%;
    background: rgb(0,0,0);
    display: flex;
    justify-content: center;
    left: 0;
    transition: all 200ms linear;
}
#barraLateral.active {
    left: -316px;
}
#barraLateral  ul li{
    color: rgb(250,250,250);
    text-align: center;
    margin-block: 25px;
    font-size: 25px;
}
.textoenListas{
    background: rgb(30,30,30);
    border-radius: 3px;
    width: 225px;
    padding: 4px;
}
.textoenListas:hover{
    background: rgb(33,84,0);
    transition: 700ms;
}
#pagActual{
    background: rgb(136,204,6);
}
#barraLateral .toggle-btn {
    position: absolute;
    left: 336px;
    top: 20px;
    cursor: pointer;
}
#barraLateral .toggle-btn i{
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    color: rgb(136,204,6);
}
body{
    background: rgb(31,31,31);
    background: linear-gradient(90deg rgb(31,31,31) 0%, rgb(26,26,26) 16%, rgb(18,18,18) 100%);
}
#contenidoGeneral{
    margin-left: 320px;
    transition: all 200ms linear;
}
#contenidoGeneral.active{
    margin-left: 80px;
}
/*Gráficas*/
canvas{
    max-width: 250px;
    max-height: 200px;
}
.graficasGen{
    display: flex;
    justify-content: center;
    margin-left: -100px;
}
.graficaInd{
    display: flex;
    justify-content: center;
}
.textoGrafica{
    color: rgb(250,250,250);
    font-size: 32px;
}
.muestradeContenido{
    padding-block: 20px;
}
a:-webkit-any-link{
    color: rgb(250,250,250);
    text-decoration: none;
    cursor: pointer;
}