/*
Fondo: #111111, rgb(17, 17, 17)
Descripción: #393939, rgb(57, 57, 57)
Letras: #FFFFFF, rgb(255, 255, 255)
Botón: #89CD01, rgb(137, 205, 1)
Botón oscuro: rgb(33,84,0)
*/

*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255,255,255);
}

body{
    background-color: rgb(17,17,17);
    padding:18px;
}


/*Contiene todo*/
.main-container{
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:100%;
    padding: 20px;
}


/*Contiene el logo, foto de perfil, id y nombre de usuario*/
.div-sup{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}
.ds-izq{
    display: inline-block;
    width: 33%;
    height: 80%;
    /*acá marca problema pero es necesario*/
    float: left;
}
.logo{
    width:100px;
    height:100px;
}
.ds-cen{
    display: inline-block;
    width: 33%;
    height: 80%;
}
.img-perf{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    background-color: rgb(255,255,255);
}
.ds-der{
    display: inline-block;
    width: 33%;
    height: 80%;
    /*acá marca problema pero es necesario*/
    float: right;
}
.label-id{
    float: right; 
    margin-right: 10px;
}
.id{
    background-color: rgb(57, 57, 57);
    padding: 10px;
    border-radius: 5px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}
.ds-aba{
    display: inline-block;
    width:100%;
    height:20%;
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
}
.sombreado{
    background-color: rgb(57, 57, 57);
    padding: 10px;
    border-radius: 5px;
    width:200px;
    text-align: center;
}
.sombreado-cen{
    background-color: rgb(57, 57, 57);
    padding: 10px;
    border-radius: 5px;
    width:200px;
    text-align: center;
    margin: auto; 
    margin-top: 5px;
}
.sombreado-izq{
    background-color: rgb(57, 57, 57);
    padding: 10px;
    border-radius: 5px;
    width:200px;
    text-align: center;
    margin-left: auto;
}

/*Contiene la descripción*/
.div-desc{
    display: inline-block;
    width:100%;
    height: 100px;
    background-color: rgb(57, 57, 57);
    text-align: center;
    border-radius: 5px;
    margin-top: 10px
}
.label-desc{
    font-size: 17px;
    line-height: 93px;
}
.descripcion{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(57, 57, 57);
    border: none;
    font-size: 17px;
    line-height: 93px;
    border-radius: 5px;
}


/*Contiene los labels sexo, carrera técnica y semestre*/
.div-labels{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    font-size: 17px;
    margin-top: 30px
}
.div-labels2{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    font-size: 17px;
    margin-top: 5px;
}
select{
    color: rgb(255,255,255);
    background-color: rgb(57, 57, 57);
    font-size: 17px;
    border: none;
    text-align: center;
    border-radius: 5px;
}
.dl-izq{
    display: inline-block;
    text-align: left;
    width: 33%;
    height: 20px;
    font-size: 17px;
}
.dl-cen{
    display: inline-block;
    text-align: center;
    width: 33%;
    height: 20px;
    font-size: 17px;
}
.dl-der{
    display: inline-block;
    text-align: right;
    width: 33%;
    height: 20px;
    font-size: 17px;
}


/*Contiene la red-social*/
.div-red{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    margin-top: 35px
}
.dr{
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 20px;
    font-size: 17px;
}
.redsocial{
    display: inline-block;
    background-color: rgb(57, 57, 57);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
}
.txtrs{
    text-align: center;
    background-color: rgb(57, 57, 57);
    border: none;
    font-size: 17px;
    border-radius: 5px;
    height:40px;
    margin-top: 7px;
}

/*Contiene el botón agregar*/
.div-btn{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    position: absolute;
    bottom: 6%;
    right: 3.7%;
}
.db{
    display: inline-block;
    text-align: center;
    float: right;
}
.botón{
    background: rgb(137, 205, 1);
    border-radius: 30px;
    border: none;
    font-size: 17px;
    padding: 5px;
    width: 100px;
    cursor:pointer;
}
.botón:hover{
    background: rgb(124, 175, 22);
}