<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuentra musica ≧ ﹏ ≦</title>
    <link rel="stylesheet" href="Usuario/CSS/encuentraMusica.css">
    <link rel="shortcut icon" href="Usuario/IMG/LogoMelodyFriend.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
    <link rel="stylesheet" href="Usuario/CSS/bAndroid/bAndroid.css">
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script src="https://kit.fontawesome.com/b4150a26b3.js" crossorigin="anonymous"></script> 
</head>
<body>
    <div class="todo">
    <div id="primera-linea">
        <div>
            <p>
                ¿Quieres usar nuestra aplicación desde tu movil?
                <br>
                ¡<a href="https://github.com/KuChauWe/5IV7-MelodyFriend-Eq1/tree/master">Descarga</a> nuestra app!
            </p>
            <div id="fEquipo">
                <p>-Equipo de <a>MelodyFriend</a>
                    <p><img src="Usuario/IMG/LogoMelodyFriend.png"></p>
                </p>
            </div>
        </div>
    </div>
    <div class="contenedorPrincipal">
        <div id="barraLateral">
            <div class="toggle-btn">
                <i class="fa fas fa-bars"></i>
            </div>
            <ul>
                <li><a href="/homeU"><img src="Usuario/IMG/LogoMelodyFriend.png" alt="Logo MelodyFriend" width="184px"></a></li>
                <li class="textoenListas"><a href="encontrarPersonas.html">Encuentra personas</a></li>
                <li class="textoenListas" id="pagActual"><a href="encuentraMusica.html">Encuentra playlists</a></li>
                <li class="textoenListas sugerencias"><a href="mailto:fabbidad@gmail.com?subject=Sugerencia sobre MelodyFriend.&body=Ingresa tu sugerencia :D">Comentarios</a></li>
                <div id="info">
                    <ul>
                        <li class="informacion"><p>Contáctanos:</p></li>
                        <li class="informacion"><a href="https://www.facebook.com/Fabiddat-104623465060255/"><p>Facebook</p></a></li>
                        <li class="informacion"><a href="mailto:fabbidad@gmail.com?subject=Sugerencia sobre MelodyFriend.&body=Ingresa tu sugerencia :D"><p>fabbidad@gmail.com</p></a></li>
                        <li class="informacion"><a href="terminosyCondiciones(Aceptados).html"><p>Términos y condiciones</p></a></li>
                    </ul>
                </div>
            </ul>
        </div>
        <div id="contenidoGeneral">
            <div class="muestradeContenido">
                <form id="fondo" method="post" action="/musica> <!--Sooooooooofoooooooooooo pon lo que tengas que poner aquíaaaaaaaaaaaaaaaaaaaaaaaaaa-->
                    <div class="contenedorBuscador">
                        <section class="entrada">
                            <span class="icon"><i class="fa fas fa-search"></i></span>
                            <input id="ingresarTexto" type="search" placeholder="Buscar playlists"/>
                        </section>
                    </div>
                </form>
                <!--Slideraaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
                <div id="contenidoSuperiorAlinear">
                    <div class="glider-contain"> 
                        <div class="glider">
                            <%if(busqueda!=null){%>
                                <%for(var i=0;  i<busqueda.length; i++){%>
                                <div class="imagenes">
                                    <div class="contenidoCasillas">
                                      
                                        <a href="/verplaylist?id?<%=busqueda[i].id% >">
                                        <section class="partesCasilla"><img src="<%=busqueda[i].imagen%>"></section>
                                        <section class="textoInferior">
                                            <section class="partesCasilla"><a class="nombrePlaylist"><%=busqueda[i].nombre%></a></section>
                                            <section class="partesCasilla"><a class="propiedadAutor"><%=busqueda[i].artista%></a></section>
                                        </section>
                                        </a>
                                    </div>
                                </div>
                               <%} %>
                               <%}%>
                            
    
                        </div>
                        <button aria-label="Previous" class="glider-prev"><i class="fa fas fa-caret-left"></i></button>
                        <button aria-label="Next" class="glider-next"><i class="fa fas fa-caret-right"></i></button>
                        <div role="tablist" class="dots"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="Usuario/JS/encuentraMusica.js"></script>
    <script src="USuario/JS/bAndroid.js"></script>
</div>
</body>
</html>
<!--responsive pendiente-->