<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuentra personas (´▽`ʃ♡ƪ)</title>
    <link rel="stylesheet" href="Administrador/CSS/encontrarPersonas.css">
    <link rel="shortcut icon" href="Administrador/img/LogoMelodyFriend.png">
    <link rel="stylesheet" href="Administrador/CSS/bAndroid/bAndroid.css">
    <script src="https://kit.fontawesome.com/1f6d8d7d59.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
    <div id="primera-linea">
        <div>
            <p>
                ¿Quieres usar nuestra aplicación desde tu movil?
                <br>
                ¡<a href="https://github.com/KuChauWe/5IV7-MelodyFriend-Eq1/tree/master">Descarga</a> nuestra app!
            </p>
            <div id="fEquipo">
                <p>-Equipo de <a>MelodyFriend</a>
                    <p><img src="Administrador/IMG/LogoMelodyFriend.png"></p>
                </p>
            </div>
        </div>
    </div>
    <div class="contenedorPrincipal">
        <div id="barraLateral">
            <div class="toggle-btn">
                <i class="fa fas fa-bars"></i>
            </div>
            <ul>
                <li><a href="/homeA"><img src="Administrador/IMG/LogoMelodyFriend.png" alt="Logo MelodyFriend" width="184px"></a></li>
                <li class="textoenListas" id="pagActual"><a href="/encotrarpA">Encuentra personas</a></li>
                <li class="textoenListas"><a href="/rolesA">Administra roles</a></li>
                <li class="textoenListas"><a href="/stasA">Ver estadísticas</a></li>
                <li class="textoenListas sugerencias"><a href="mailto:fabbidad@gmail.com?subject=Sugerencia sobre MelodyFriend.&body=Ingresa tu sugerencia :D">Comentarios</a></li>
                <div id="info">
                    <ul>
                        <li class="informacion"><p>Contáctanos:</p></li>
                        <li class="informacion"><a href="https://www.facebook.com/Fabiddat-104623465060255/"><p>Facebook</p></a></li>
                        <li class="informacion"><a href="mailto:fabbidad@gmail.com?subject=Sugerencia sobre MelodyFriend.&body=Ingresa tu sugerencia :D"><p>fabbidad@gmail.com</p></a></li>
                        <li class="informacion"><a href="/terminosyCondiciones"><p>Términos y condiciones</p></a></li>
                    </ul>
                </div>
            </ul>
        </div>
        <div id="contenidoGeneral">
            <div class="muestradeContenido">
                <div class="encabezado">
                            <!--When haces el Buscador-->
                    <form id="fondo" action="/encotrarp" method="post" > <!--Sooooooooofoooooooooooo pon lo que tengas que poner aquíaaaaaaaaaaaaaaaaaaaaaaaaaa-->
                        <div class="contenedorBuscador">
                            <section class="entrada">
                                <span class="icon"><i class="fa fas fa-search"></i></span>
                                <input id="ingresarTexto" type="search" placeholder="Buscar una persona por su ID"/>
                            </section>
                        </div>
                        <div class="filtrosBuscador">
                            <section><i class="bi bi-filter-circle" id="btnFiltro"></i></section>
                            <div class="contenedorOpt" id="contenedorOpt">
                                <section class="filtrosOpts" id="primerF"><p>Carrera técnica</p><input type="checkbox" class="filtroCkx"></section> <!--Aquí se establecen los filtros 😘-->
                                <section class="filtrosOpts" id="segundoF"><p>Semestre</p><input type="checkbox" class="filtroCkx"></section> <!--Aquí se establecen los filtros 😘-->
                            </div>
                        </div>
                    </form>
                            <!--But lo terminas-->
                            <!--Lo siento señora Jackson uuuuuh
                            lo digo encerio
                            nunca quise hacer a su hija llorar-->
                    <div class="gustosBtn">
                        <a>Gustos Similares</a>
                    </div>
                    
                </div>
                <!--Header completamente terminado-->
                <div class="resultados">
                    <div class="contenedorResultados">
                        <div class="contenedorUsuario">
                            <% if(busqueda!=null){%>
                                <%for(i=0; i<busqueda.length; i++){%>
                                 <section class="protectorFlex">
                                    <a href="/verperfilA?id=<%=busqueda[i].id_usu_spoty%>">
                                    <figure>
                                        <img src="<%=img[i]%>"><!--Nalgona, aquí va la fotopolla de perfil-->
                                    </figure>
                                    <p class="nombreUsuario"><%=busqueda[i].name_usu%></p>
                                    <p class="descripcionUsuario"><%=busqueda[i].desc_usu%></busqueda></p>
                                    </a>
                                    <p class="porcentajeCoincidencia">Coincide contigo:<%=por[i]%>%</p>
                                 </section>
                               <%
                                }    
                            }
                               %>
                            
                            <!-- Todo esto se copia

                            <section class="protectorFlex">
                                <a href="perfilUsu(actualizado).html">
                                    <figure>
                                        <img src="IMG/buraimdecuin.jpg">
                                    </figure>
                                    <p class="nombreUsuario">Pepe el Toro</p>
                                    <p class="descripcionUsuario">¡Hola! Esta es mi descripción.</p>
                                </a>
                                <p class="porcentajeCoincidencia">Coincide contigo: 100%</p>
                            </section>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="Administrador/JS/encuentraPersonas.js"></script>
    <script src="Administrador/JS/bAndroid.js"></script>
</body>
</html>