<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar perfil ✍(◔◡◔)</title>
    <link rel="stylesheet" href="CSS/editPerfilUsu.css">
    <link rel="shortcut icon" href="img/LogoMelodyFriend.png">
</head>
<body>
    <!--Contiene todo-->
    <div class="main-container">

        <!--icono, img perfil, id y nombre-->
        <div class="div-sup">
            <div class="ds-izq">
                <!--ACÁ FALTA LINK-->
                <a href="/Home"><img class="logo" src="IMG/LogoMelodyFriend.png"></a>
            </div>
            <div class="ds-cen">
                <a href="seleccionarFoto.html"><div class="img-perf"></div></a>
            </div>
            <div class="ds-der">
                <label style="float: right; margin-right: 10px;">ID:</label>
                <br>
                <label class="id">125268717197</label>
            </div>
            <div class="ds-aba" style="margin-top: 10px;">
                <label>Nombre del usuario</label>
            </div>
        </div>

        <!--descripción-->
        <div class="div-desc" style="margin-top: 10px">
            <textarea class="descripcion" id="textarea" maxlength="100" placeholder="Ingresa tu descripción"></textarea>
        </div>

        <!--labels sexo, carrera técnica y semestre-->
        <div class="div-labels" style="margin-top: 30px">
            <div class="dl-izq">
                <label>Sexo:</label>
            </div>
            <div class="dl-cen">
                <label>Carrera técnica:</label>
            </div>
            <div class="dl-der">
                <label>Semestre:</label>
            </div>
        </div>
        <div class="div-labels" style="margin-top: 5px">
            <div class="dl-izq">
                <div class="sombreado">
                    <select>  
                        <option value="Seleccione" selected disabled>Seleccione su sexo</option>
                        <option value="Masculino"> Masculino</option>  
                        <option value="Femenino">Femenino</option>  
                    </select>
                </div>
            </div>
            <div class="dl-cen">
                <div class="sombreado" style="margin: auto; margin-top: 5px;">
                    <select>  
                        <option value="Tronco Común">Tronco Común</option>  
                        <option value="Programación">Programación</option>  
                        <option value="Sistemas Digitales">Sistemas Digitales</option>  
                        <option value="Máquinas">Máquinas</option>  
                        <option value="Mecatrónica">Mecatrónica</option>  
                    </select>  
                </div>
            </div>
            <div class="dl-der">
                <div class="sombreado" style="margin-left: auto;">
                    <select>  
                        <option value="Primero">Primero</option>  
                        <option value="Segundo">Segundo</option>  
                        <option value="Tercero">Tercero</option>  
                        <option value="Cuarto">Cuarto</option>  
                        <option value="Quinto">Quinto</option> 
                        <option value="Sexto o más">Sexto o más</option>   
                    </select>  
                </div>
            </div>
        </div>

        <!--label con red social-->
        <div class="div-red" style="margin-top: 35px">
            <div class="dr">
                <label>Red social:</label>
                <br>
                <input type="text" class="txtrs" id="rs" maxlength="100" placeholder="Ingresa una red social">
            </div>
        </div>
    </div>
    
    <div class="div-btn">
        <div class="db">
            <button class="botón">Agregar</button>
        </div>
    </div>

    <!--Esto evita que se pulse enter en el textarea de la descripción y red social-->
    <script>
        constrainInput = (event) => { 
            event.target.value = event.target.value.replace(/[\r\n\v]+/g, '')
        }

        document.querySelectorAll('textarea').forEach(el => {
        el.addEventListener('keyup', constrainInput)
        })

        constrainInput = (event) => { 
            event.target.value = event.target.value.replace(/[\r\n\v]+/g, '')
        }

        document.querySelectorAll('rs').forEach(el => {
        el.addEventListener('keyup', constrainInput)
        })
    </script>
</body>
</html>