<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuentra personas (´▽`ʃ♡ƪ)</title>
    <link rel="stylesheet" href="CSS/encontrarPersonas.css">
    <link rel="shortcut icon" href="img/LogoMelodyFriend.png">
    <script src="https://kit.fontawesome.com/b4150a26b3.js" crossorigin="anonymous"></script> 
</head>
<body>
    <div class="contenedorPrincipal">
        <div id="barraLateral">
            <div class="toggle-btn">
                <i class="fa fas fa-bars"></i>
            </div>
            <ul>
                <li><a href="/Home"><img src="IMG/LogoMelodyFriend.png" alt="Logo MelodyFriend" width="184px"></a></li>
                <li class="textoenListas" id="pagActual"><a href="encontrarPersonas.html">Encuentra personas</a></li>
                <li class="textoenListas"><a href="encuentraMusica.html">Encuentra playlists</a></li>
                <li class="textoenListas"><a href="verEstadisticas.html">Ver estadísticas</a></li>
                <div id="info">
                    <ul>
                        <li class="informacion"><p>Contáctanos:</p></li>
                        <li class="informacion"><a href="https://www.facebook.com/Fabiddat-104623465060255/"><p>Facebook</p></a></li>
                        <li class="informacion"><a href="mailto:fabbidad@gmail.com"><p>fabbidad@gmail.com</p></a></li>
                        <li class="informacion"><a href="terminosyCondiciones(Aceptados).html"><p>Términos y condiciones</p></a></li>
                    </ul>
                </div>
            </ul>
        </div>
        <div id="contenidoGeneral">
            <div class="muestradeContenido">
                <div class="encabezado">
                            <!--When haces el Buscador-->
                    <form id="fondo"> <!--Sooooooooofoooooooooooo pon lo que tengas que poner aquíaaaaaaaaaaaaaaaaaaaaaaaaaa-->
                        <div class="contenedorBuscador">
                            <section class="entrada">
                                <span class="icon"><i class="fa fas fa-search"></i></span>
                                <input id="ingresarTexto" type="search" placeholder="Buscar una persona por su ID"/>
                            </section>
                        </div>
                    </form>
                            <!--But lo terminas-->
                    <div class="botonesDerecha">
                        <div class="superiorDerecha1">
                            <input type="button" id="gustosComun" value="Personas con gustos en común"/>
                        </div>
                        <div class="superiorDerecha2">
                            <input type="button" id="miGrupo" value="Mi Grupo"/>
                        </div>
                    </div>
                </div>
                <div id="contenidoAlinear">
                    <div class="formulario&resultados">
                        <form id="fdesp">
                            <select name="carreraTecnica" class="desplegables">
                                <option value="0" selected disabled>Carrera técnica</option>
                                <option value="1">Tronco Común</option>
                                <option value="2">Programación</option>
                                <option value="3">MSA</option>
                                <option value="4">Sistemas Digitales</option>
                                <option value="5">Mecatrónica</option>
                            </select>
                            <select name="semestre" class="desplegables">
                                <option value="0" selected disabled>Semestre</option>
                                <option value="1">Primer Semestre</option>
                                <option value="2">Segundo Semestre</option>
                                <option value="3">Tercer Semestre</option>
                                <option value="4">Cuarto Semestre</option>
                                <option value="5">Quinto Semestre</option>
                                <option value="6">Sexto Semestre</option>
                            </select>
                        </form>

                        <div class="resultados">
                            <div class="vistaUsuarios">
                                <section class="usuarios">
                                        <a href="verPerfilUsu.html"><img src="IMG/gatoLatino.jpg"></a>
                                        <a href="verPerfilUsu.html">Nombre del usuario</a>
                                        <a href="verPerfilUsu.html">Breve descripción</a> <!--Creo que en estas es mejor poner labels dentro de las etiquetas, si se me olvida se la saben xd-->
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="JS/encuentraPersonas.js"></script>
</body>
</html>