<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuentra musica ≧ ﹏ ≦</title>
    <link rel="stylesheet" href="CSS/encuentraMusica.css">
    <link rel="shortcut icon" href="img/LogoMelodyFriend.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <script src="https://kit.fontawesome.com/b4150a26b3.js" crossorigin="anonymous"></script> 
</head>
<body>
    <div class="contenedorPrincipal">
        <div id="barraLateral">
            <div class="toggle-btn">
                <i class="fa fas fa-bars"></i>
            </div>
            <ul>
                <li><a href="/Home"><img src="IMG/LogoMelodyFriend.png" alt="Logo MelodyFriend" width="184px"></a></li>
                <li class="textoenListas"><a href="/personas">Encuentra personas</a></li>
                <li class="textoenListas" id="pagActual"><a href="/musica">Encuentra playlists</a></li>
                <li class="textoenListas"><a href="/estadisticas">Ver estadísticas</a></li>
                <div id="info">
                    <ul>
                        <li class="informacion"><p>Contáctanos:</p></li>
                        <li class="informacion"><a href="https://www.facebook.com/Fabiddat-104623465060255/"><p>Facebook</p></a></li>
                        <li class="informacion"><a href="mailto:fabbidad@gmail.com"><p>fabbidad@gmail.com</p></a></li>
                        <li class="informacion"><a href="terminosyCondiciones(Aceptados).html"><p>Términos y condiciones</p></a></li>
                    </ul>
                </div>
            </ul>
        </div>
        <div id="contenidoGeneral">
            <div class="muestradeContenido">
                <form id="fondo" method="post" action="/musica"> <!--Sooooooooofoooooooooooo pon lo que tengas que poner aquíaaaaaaaaaaaaaaaaaaaaaaaaaa-->
                    <div class="contenedorBuscador">
                        <section class="entrada">
                            
                             <span class="icon"><i class="fa fas fa-search"></i></span>
                             <input id="ingresarTexto" type="search"  name="busqueda" placeholder="Buscar playlists"/> 
                                <input type="submit" class="botón" value="Buscar">
                   
                        </section>
                    </div>
                </form>
                <!--Slideraaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->
                <div id="contenidoSuperiorAlinear">
                    <div class="glider-contain"> 
                        <div class="glider">
                            <%if(busqueda!=null){%>
                            <%for(var i=0;  i<busqueda.length; i++){%>
                            <div class="imagenes">
                                <div class="contenidoCasillas">
                                  
                                    <a href="/verplaylist?id?<%=busqueda[i].id%>">
                                    <section class="partesCasilla"><img src="<%=busqueda[i].imagen%>"></section>
                                    <section class="textoInferior">
                                        <section class="partesCasilla"><a class="nombrePlaylist"><%=busqueda[i].nombre%></a></section>
                                        <section class="partesCasilla"><a class="propiedadAutor"<%=busqueda[i].artista%></a></section>
                                    </section>
                                    </a>
                                </div>
                            </div>
                           <%} %>
                           <%}%>
    
                        </div>
                        <button aria-label="Previous" class="glider-prev"><i class="fa fas fa-caret-left"></i></button>
                        <button aria-label="Next" class="glider-next"><i class="fa fas fa-caret-right"></i></button>
                        <div role="tablist" class="dots"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="JS/encuentraMusica.js"></script>
</body>
</html>