<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia Sesión :D</title>
    <link rel="stylesheet" href="CSS/iniciarSesion.css">
    <link rel="shortcut icon" href="img/LogoMelodyFriend.png">
    <script src="https://kit.fontawesome.com/b4150a26b3.js" crossorigin="anonymous"></script> 
</head>
<body>
    <div class="contenedorPrincipal">
        <div class="cuadroeImg">
            <div class="cuadradoFondo">
                <div class="imgSuperior">
                    <img src="IMG/LogoMelodyFriend.png" width="184px" alt="Logo de MelodyFriend">
                </div>

                <!--<br>-->

                <div class="textoIntroductorio">
                        Una página web dedicada a los alumnos del CECyT 9 para
                        conocer a otros estudiantes con gustos musicales similares.
                </div>

                <br>

                <div class="botones">
                    <div class="boton">
                        <button class="botonesSesiones"><p class="textoBotones"><a href="/login">Iniciar Sesión </a><i class="fa fab fa-spotify"></i></p></button>
                        
                        <br>

                        <button class="botonesSesiones"><p class="textoBotones"><a href="/login">Registrarse </a><i class="fa fab fa-spotify"></i></p></button>
                    </div>
                </div>

                <br>

                <div class="textoInferior">
                    <p>Nota: Para poder usar la aplicación necesitas tener una cuenta de Spotify.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="JS/iniciarSesion.js"></script>
</body>
</html>