<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y Condiciones ^_^</title>
    <link rel="shortcut icon" href="img/LogoMelodyFriend.png">
    <link rel="stylesheet" href="CSS/terminosyCondiciones.css">
</head>
<body>
    <div class="contenedorPrincipal">
        <div class="whenFlexeas">
            <iframe src="https://docs.google.com/viewer?srcid=1ALErlQeCgE5tW7RS4uiprIkhWfTkwWb5&pid=explorer&efh=false&a=v&chrome=false&embedded=true" height="830px"></iframe>
            <!--https://drive.google.com/file/d/1ALErlQeCgE5tW7RS4uiprIkhWfTkwWb5/view?usp=sharing-->
        </div>
        <form action="/Home" >
            <div id="whenFlexeasBotones">
                <div>
                    <section class="checklist">
                        <input type="radio" name="aceptar"><p id="textoBlanco">He leído y acepto todos los terminos y condiciones</p> 
                    </section>
                    <section class="btnSiguiente">
                        <button id="btnEnv" type="submit">Siguiente</button>
                    </section>
                </div>
            </div>
        </form>
    </div>
    <script src="JS/rTerminosyCondiciones.js"></script> <!--Para el responsive-->
</body>
</html>