<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y Condiciones ^_~</title>
    <link rel="shortcut icon" href="img/LogoMelodyFriend.png">
    <link rel="stylesheet" href="CSS/terminosyCondiciones.css">
</head>
<body>
    <div class="contenedorPrincipal">
        <div class="whenFlexeas">
            <iframe src="https://docs.google.com/viewer?srcid=1ALErlQeCgE5tW7RS4uiprIkhWfTkwWb5&pid=explorer&efh=false&a=v&chrome=false&embedded=true" height="830px"></iframe>
            <!--https://drive.google.com/file/d/1ALErlQeCgE5tW7RS4uiprIkhWfTkwWb5/view?usp=sharing-->
        </div>
        <div id="whenFlexeasBotones">
            <div>
                <section class="btnSiguiente">
                    <button id="btnEnv" type="submit"><a href="javascript:history.go(-1)">Página anterior</a></button>
                </section>
            </div>
        </div>
    </div>
    <script src="JS/rTerminosyCondiciones.js"></script>
</body>
</html>