<!--Esta  es la página que verá el usuario de otros usuarios ╰（‵□′）╯-->
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil usuario (╬▔皿▔)╯</title>
    <link rel="stylesheet" href="CSS/perfilUsu.css">
    <link rel="shortcut icon" href="img/LogoMelodyFriend.png">
</head>
<body>
    <!--Contiene todo-->
    <div class="main-container">

        <!--icono, img perfil, id y nombre-->
        <div class="div-sup">
            <div class="ds-izq">
                <!--ACÁ FALTA LINK-->
                <a href="/Home"><img class="logo" src="IMG/LogoMelodyFriend.png"></a>
            </div>
            <div class="ds-cen">
                <div class="img-perf"></div>
            </div>
            <div class="ds-der">
                <label style="float: right; margin-right: 10px;">ID:</label>
                <br>
                <label class="id"><%=usuario.id%></label>
            </div>
            <div class="ds-aba" style="margin-top: 10px;">
                <label><%=usuario.nombre%></label>
            </div>
        </div>

        <!--descripción-->
        <div class="div-desc" style="margin-top: 10px">
            <label class="label-desc"><%=usuario.descripcion%></label>
        </div>

        <!--labels sexo, carrera técnica y semestre-->
        <div class="div-labels" style="margin-top: 30px">
            <div class="dl-izq">
                <label>Sexo:</label>
            </div>
            <div class="dl-cen">
                <label>Carrera técnica:</label>
            </div>
            <div class="dl-der">
                <label>Semestre:</label>
            </div>
        </div>
        <div class="div-labels" style="margin-top: 5px">
            <div class="dl-izq">
                <div class="sombreado">
                    <label><%=usuario.sexo%></label>
                </div>
            </div>
            <div class="dl-cen">
                <div class="sombreado" style="margin: auto; margin-top: 5px;">
                    <label><%=usuario.carrera%></label>
                </div>
            </div>
            <div class="dl-der">
                <div class="sombreado" style="margin-left: auto;">
                    <label><%=usuario.semestre%></label>
                </div>
            </div>
        </div>

        <!--label con red social-->
        <div class="div-red" style="margin-top: 35px">
            <div class="dr">
                <label>Red social:</label>
                <br>
                <label class="redsocial" style="margin-top: 5px;"><%=usuario.twiter%></label>
                <label class="redsocial" style="margin-top: 5px;"><%=usuario.instagram%></label>
            </div>
        </div>
    </div>
</body>
</html>