* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#barraLateral {
  position: fixed;
  width: 316px;
  height: 100%;
  background: rgba(0, 0, 0, 0.88);
  display: flex;
  justify-content: center;
  left: 0;
  transition: all 200ms linear;
}
#barraLateral.active {
  left: -316px;
}
#barraLateral ul li {
  color: rgb(250, 250, 250);
  text-align: center;
  margin-block: 25px;
  font-size: 25px;
}
.textoenListas {
  background: rgb(30, 30, 30);
  border-radius: 3px;
  width: 225px;
  padding: 4px;
}
.textoenListas:hover {
  background: rgb(33, 84, 0);
  transition: 700ms;
}
#barraLateral .toggle-btn {
  position: absolute;
  left: 336px;
  top: 20px;
  cursor: pointer;
}
#barraLateral .toggle-btn i {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 30px;
  color: rgb(136, 204, 6);
}
html,
body {
  min-height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
div.todo {
  height: 100%;
  background: linear-gradient(
    180deg rgb(31, 31, 31) 0%,
    rgb(26, 26, 26) 16%,
    rgb(18, 18, 18) 100%
  );
}
#contenidoGeneral {
  margin-left: 390px;
  transition: all 200ms linear;
}
#contenidoGeneral.active {
  margin-left: 80px;
}
.textoBlanco {
  color: rgb(250, 250, 250);
  font-size: 32px;
}
.textoBlanco#textoUsuario {
  font-size: 25px;
}
.imagenes {
  display: flex;
  min-width: 182px;
  min-height: 255px;
  margin-inline: 36px;
  background: rgb(24, 24, 24);
  background: linear-gradient(
    180deg,
    rgba(24, 24, 24, 1) 0%,
    rgba(21, 21, 21, 1) 50%,
    rgba(24, 24, 24, 1) 100%
  );
  border-radius: 10px;
}
.glider-contain {
  max-width: 1440px;
}
/*POR AHORA NO ES RESPONSIVE*/
#contenidoSuperiorAlinear {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-top: 40px;
}
.encabezado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 46px;
  padding-top: 40px;
}
.apartadoUsuario {
  display: flex;
  background: rgb(10, 10, 10);
  width: 260px;
  height: 56px;
  border-radius: 100px;
  border: 1px solid rgb(11, 11, 11);
}
.apartadoUsuario:hover {
  background: rgb(112, 112, 112);
  transition: 500ms;
}
#imagenPerfil {
  margin: 3.5px;
}
#imagenPerfil img {
  width: 47px;
  justify-self: flex-start;
  border-radius: 50%;
  outline: none;
}
#nombreUsuario {
  margin-left: 27px;
  align-self: center;
}
.textoRecomendacion {
  margin-top: 40px;
}
#contenidoInferiorAlinear {
  margin-top: 40px;
}
.partesCasilla img {
  width: 148px;
  max-height: 148px;
  margin-top: 17px;
  padding-inline: 16px;
  min-height: 120px;
}
.partesCasilla a {
  font-size: 17px;
}
.nombrePlaylist {
  color: rgb(250, 250, 250);
}
.propiedadAutor {
  color: rgb(168, 168, 168);
}
.textoInferior {
  margin-top: 23px;
  margin-left: 24px;
}
a:-webkit-any-link {
  color: rgb(250, 250, 250);
  text-decoration: none;
  cursor: pointer;
}
section a {
  color: rgb(14, 14, 14);
}
.textoenListas a {
  color: rgb(250, 250, 250);
}
.informacion a {
  text-align: center;
  color: rgb(33, 84, 0);
  font-size: 12px;
  text-decoration: underline;
}
.informacion p {
  text-align: center;
  color: rgb(33, 84, 0);
  font-size: 12px;
  margin-bottom: -10px;
}
#info {
  padding-top: 15vw;
}
div.imagenes:hover {
  filter: brightness(120%);
  transition: 500ms;
}
/*Cambiar las barras de desplazamiento*/
body::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(14, 14, 14); /* color of the scroll thumb */
  border-radius: 100px; /* roundness of the scroll thumb */
  border: none;
}
/*Aquí termina*/
/*Barra lateral:*/

@media only screen and (max-width: 1600px) {
  /*Unicamente aquí se queda en 1600px, en los demás como máximo será 1440px*/
  #barraLateral {
    width: 226px;
  }
  #barraLateral.active {
    left: -226px;
  }
  #barraLateral ul li {
    margin-block: 20px;
    font-size: 17px;
  }
  .textoenListas {
    width: 185px;
  }
  #barraLateral .toggle-btn {
    left: 246px;
  }
  #barraLateral .toggle-btn i {
    width: 35px;
    font-size: 25px;
  }
  #barraLateral img {
    max-width: 100px;
  }
  #info {
    margin-top: 30vh;
    bottom: 0;
    left: 0;
  }
  #contenidoGeneral {
    margin-left: 305px;
  }
  /* #contenidoGeneral {
    margin-left: 390px;
    transition: all 200ms linear;
  }
  */
  #contenidoGeneral.active {
    margin-left: 70px;
  }

  .imagenes {
    min-width: 125px;
    min-height: 174px;
    margin-inline: 18px;
    border-radius: 5px;
  }
  .glider-contain {
    max-width: 840px;
  }
  .partesCasilla img {
    width: 120px;
    max-height: 120px;
    min-height: 110px;
    padding-inline: 2px;
  }
  .partesCasilla a {
    font-size: 12px;
  }
  .textoInferior {
    margin-top: 5px;
    margin-left: 6px;
    margin-bottom: 15px;
  }
  .encabezado {
    padding-top: 20px;
  }
  div#contenidoSuperiorAlinear {
    margin-left: -50px;
  }
  div#contenidoInferiorAlinear {
    padding-bottom: 30px;
    margin-left: -50px;
  }
  html,
  body {
    min-height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  div.todo {
    height: 100%;
  }
}
