* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  outline: none;
  border: none;
  transition: 500ms;
}
html,
body {
  min-height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
div.todo {
  height: 100%;
  background: linear-gradient(
    180deg rgb(31, 31, 31) 0%,
    rgb(26, 26, 26) 16%,
    rgb(18, 18, 18) 100%
  );
}
div.contenedorPrincipal {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-around;
}

figure.logo-app img {
  width: 154px;
  height: 154px;
  margin-top: 40px;
}

div.contenedorDatosU {
  backdrop-filter: brightness(160%);
  flex-direction: column;
  border-radius: 10px;
  margin-top: 50px;
  padding-top: 18px;
  padding-inline: 35px;
  padding-bottom: 27px;
  width: 830px;
  margin-bottom: 50px;
  /*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
}

div.trampa {
  width: 174px;
  height: 174px;
  margin-top: 27px;
}

/*Inicia Primera sección*/
div.trampa2 {
  width: 267px;
  height: 52px;
}

div.primeraS {
  display: flex;
  font-size: 18px;
  text-align: right;
  justify-content: space-between;
  margin-left: 10px;
}

div.primeraS div.imagenPerf {
  min-width: 250px;
  min-height: 250px;
  border-radius: 50%;
  background-color: rgb(76, 76, 76);
}

div.primeraS div.usuarioID {
  width: 267px;
  height: 52px;
}

/*Termina Primera sección*/
/*Inicia Segunda sección*/
div.segundaS {
  font-size: 45px;
  text-align: center;
}
div.segundaS .fa-external-link-alt {
  font-size: 18px;
}
div.segundaS .ra:hover {
  color: rgb(136, 204, 6);
}
/*Termina Segunda sección*/
/*Inicia Tercera sección*/
div.terceraS {
  margin-top: 40px;
  font-size: 20px;
}
div.terceraS .datosGnral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
textarea#usuDesc {
  background-color: rgb(76, 76, 76);
  border-radius: 5px;
  width: 680px;
  max-width: 680px;
  height: 139px;
  max-height: 139px;
  text-align: center;
  padding: 50px;
  font-size: 20px;
}
/*Cambiar las barras de desplazamiento*/
*::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: none;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(14, 14, 14);
  border-radius: 100px;
  border: none;
}
textarea::-webkit-scrollbar-track {
  background: none;
}
textarea::-webkit-scrollbar-thumb {
  background-color: rgb(31, 31, 31);
  border-radius: 100px;
  border: none;
}
div.terceraS p {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 13px;
}
div.terceraS select,
div.terceraS select option {
  color: rgb(14, 14, 14);
  font-size: 20px;
  text-align: center;
}
div.terceraS select {
  border-radius: 5px;
  height: 40px;
}
div.terceraS select#semestreOpt {
  margin-bottom: 35px;
}
div.terceraS input#redSocial {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
  padding-inline: 20px;
  color: rgb(14, 14, 14);
  margin-bottom: 25px;
}
/*Termina Tercera sección*/ 
/*Inicia Cuarta sección*/
div.cuartaS {
  display: flex;
  justify-content: flex-end;
}
div.cuartaS input {
  color: rgb(255, 255, 255);
  background-color: rgb(136, 204, 6);
  width: 152px;
  height: 40px;
  border-radius: 100px;
  font-size: 20px;
}
.imagenPerf img{
  z-index:0;
  max-width:40px;
  max-height:40px;
  border-radius: 50%;
  }
div.cuartaS input:hover {
  background-color: rgb(33, 84, 0);
}
@media only screen and (max-width: 1600px) {
  figure.logo-app img {
    width: 114px;
    height: 114px;
    margin-top: 20px;
  }

  div.contenedorDatosU {
    border-radius: 5px;
    margin-top: 35px;
    padding-top: 10px;
    padding-inline: 26px;
    padding-bottom: 26px;
    width: 640px;
    margin-bottom: 26px;
    /*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
  }
  /*Inicia Primera sección*/
  div.primeraS {
    font-size: 14px;
    margin-left: 5px;
  }
  div.primeraS div.imagenPerf {
    min-width: 166px;
    min-height: 166px;
    max-width: 166px;
    max-height: 166px;
    border-radius: 50%;
    margin-bottom: 5px;
  }

  div.primeraS div.usuarioID {
    height: 32px;
  }
  /*Termina Primera sección*/
  /*Inicia Segunda sección*/
  div.segundaS {
    font-size: 28px;
  }
  div.segundaS .fa-external-link-alt {
    font-size: 16px;
  }
  /*Termina Segunda sección*/
  /*Inicia Tercera sección*/
  div.terceraS {
    margin-top: 24px;
    font-size: 16px;
  }
  textarea#usuDesc {
    padding: 10px;
    border-radius: 3px;
    width: 550px;
    max-width: 550px;
    height: 110px;
    max-height: 110px;
    padding: 40px;
    font-size: 14px;
  }
  /*Cambiar las barras de desplazamiento*/
  *::-webkit-scrollbar {
    width: 3px;
  }
  div.terceraS p {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  div.terceraS select,
  div.terceraS select option {
    font-size: 14px;
  }
  div.terceraS select {
    border-radius: 2px;
    height: 30px;
  }
  div.terceraS select#semestreOpt {
    margin-bottom: 32px;
  }
  div.terceraS input#redSocial {
    height: 38px;
    border-radius: 2px;
    font-size: 14px;
    padding-inline: 20px;
    margin-bottom: 20px;
  }
  /*Termina Tercera sección*/
  /*Inicia Cuarta sección*/
  div.cuartaS input {
    width: 82px;
    height: 30px;
    border-radius: 50px;
    font-size: 14px;
  }

}
